form .form-item input.error{
  border-color: red;
}

div.error-message {
    margin-bottom: 20px;
    color: red;
}

::-webkit-input-placeholder { font: 11px/25px Arial; }
::-moz-placeholder { font: 11px/25px Arial; } /* firefox 19+ */
:-ms-input-placeholder { font: 11px/25px Arial; } /* ie */
input:-moz-placeholder { font: 11px/25px Arial; }

body .ui-widget-content .long input[type="text"]{
	width: 294px;
}

/*#auth-block a{
	text-decoration: none;
	text-transform: uppercase;
	font: 14px Arial;
	color: #96c12b;
	margin-top: 14px;
	display: inline-block;
}*/

#auth-block #log_in{
	text-decoration: none;
	text-transform: uppercase;
	font: 14px Arial;
	color: #96c12b;
	margin-top: 14px;
	display: inline-block;
}

#middle .inner .links {
    display: none;
}

.name a {
    text-transform: none !important;
}

a.context-block-region {
    display: none;
}

.jq-selectbox.jqselect.error .jq-selectbox__select {
    border-color: red !important;
}


/* LOGIN FORM START */
.login-form .form-item.login-links a#forgot-pass{
	font: 11px Arial;
	color: #96c12b;
	text-decoration: none;
}
.login-form .form-submit{
	width: 100%;
	clear: both;
	display: inline-block;
}
.login-form .form-item.login-links a#forgot-pass:hover{
	text-decoration: underline;
}
.login-form .form-item.login-links{
	float: left;
}
.login-form .form-item.login-links label{
	width: 150px;
}
.login-form div.form-type-checkbox{
	float: right;
	clear: none;
	padding-top: 4px;
	width: 141px;
}
.login-form div.form-type-checkbox label{
	line-height: 14px;
}
body .login-form.ui-widget-content .form-submit input[type="submit"]{
	float: left;
}
body .login-form.ui-widget-content .form-submit a#signup{
	background: none;
	font: bold 12px/30px Arial;
	color: #35332f;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
	width: 139px;
	height: 30px;
	border: 1px solid #bebebe;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-icab-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	text-decoration: none;
}
body .login-form.ui-widget-content .form-item.facebook-log-in{
	padding-top: 15px;
}
body .login-form form{
	width: 322px;
margin: 0 auto;
}
body .login-form.ui-widget-content .form-item.facebook-log-in a{
	background: #c1c0c0;
	font: bold 12px/30px Arial;
	color: #FFF;
	float: right;
	border: none;
	outline: none;
	cursor: default;
	width: 320px;
	height: 30px;
	border: 1px solid #aab0bf;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-icab-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
}
body .login-form form {
    margin: 0 auto;
    width: 322px;
}

/* LOGIN FORM END */

.ui-dialog form input[type="text"],
.ui-dialog form input[type="password"],
.ui-dialog form textarea
{
	font: 11px/25px Arial;
	color: #858586;
}

.content .fusion-block-config {
    diplay: none;
}
/*
form .form-item input.error::-webkit-input-placeholder {
   color: red;
}

form .form-item input.error:-moz-placeholder { /
   color: red;  
}

form .form-item input.error::-moz-placeholder {  
   color: red;  
}

form .form-item input.error:-ms-input-placeholder {  
   color: red;  
}

form .form-item textarea.error{
  border-color: red;
}

form .form-item textarea.error::-webkit-input-placeholder {
   color: red;
}

form .form-item textarea.error:-moz-placeholder { 
   color: red;  
}

form .form-item textarea.error::-moz-placeholder {  
   color: red;  
}

form .form-item textarea.error:-ms-input-placeholder {  
   color: red;  
}
*/
#filesContainer input[type="file"]{
  clear: both;
  float: left;
}

.block .calendar-calendar .month-view table tr td.has-events:hover .inner .hover-wrapper{
  display: block;
}


div#content .profile {
  display:none;
}
#create-event-form div.person-item, .events-users div.person-item{
	width: 100%;
	height: 77px;
	display: inline-block;
	clear: both;
	margin-bottom: 10px;
}
#create-event-form div.person-item .person-thumbnail, .events-users div.person-item .person-thumbnail {
	float: left;
	margin-right: 20px;
}
#create-event-form div.person-item  .person-name, .events-users div.person-item  .person-name {
	float: left;
	padding-top: 22px;
}
#create-event-form div.person-item  .person-name a, .events-users div.person-item  .person-name a {
	font: bold 12px Arial;
	color: #2b2a2a;
	text-decoration: none;
	
}
#create-event-form div.person-item  .person-name a:hover, .events-users div.person-item  .person-name a:hover{color: #96c12b;}
span.already-invited,
a.invite-friend{
	margin-top: 24px;
}
.jScrollPaneContainer{
	background: #ebeaea;
	padding: 10px;
	margin-bottom: 10px;
}
#create-event-form .form-item.form-title input[type="text"],
#create-event-form .form-item.form-details input[type="text"],
#create-event-form .form-item.form-where input[type="text"]{
	width: 360px;
	margin-right: 0;
}
#create-event-form .form-submit{
	padding-top: 20px;
}

a.already-invited{
	font: bold 12px/30px Arial;
	color: #96c12b;
	background: #FFF;
	display: inline-block;
	height: 30px;
	text-decoration: none;
	padding: 0 30px;
	border: 1px solid #90908e;
	-moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Google Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    -o-border-radius: 5px; /* Opera */
    -ms-border-radius: 5px; /* IE8 */
    -icab-border-radius: 5px; /* Icab */
    border-radius: 5px; /* CSS3 */
}
a.already-invited{float: right;}
a.already-invited{
	width: 140px !important;
	text-align: center;
	padding: 0 !important;
}
a.already-invited{
	margin-top: 20px;
}
a.invite-friend{
    margin-top: 20px !important;
}
.person-thumbnail {
    margin-top: 10px;
}
.show-more-friends {
    text-align: center;
    margin-top: 10px;        
}
#search-friends {
    display: none;    
}
div.search-for-friends.loading input[type="text"]{
	background: url(../images/throbber.svg) 420px center no-repeat;
	padding-right: 25px;
	width: 420px !important;
}
#invite-friends-form {
    display: none;
}

#invite-friends-form div.person-item{
	width: 100%;
	height: 77px;
	display: inline-block;
	clear: both;
	margin-bottom: 10px;
}
#invite-friends-form div.person-item .person-thumbnail{
	float: left;
	margin-right: 20px;
}
#invite-friends-form div.person-item  .person-name{
	float: left;
	padding-top: 22px;
}
#invite-friends-form div.person-item  .person-name a{
	font: bold 12px Arial;
	color: #2b2a2a;
	text-decoration: none;
	
}
#invite-friends-form div.person-item  .person-name a:hover{color: #96c12b;}
span.already-invited,
a.invite-friend{
	margin-top: 24px;
}
.jScrollPaneContainer{
	background: #ebeaea;
	padding: 10px;
	margin-bottom: 10px;
}
#invite-friends-form .form-item.form-title input[type="text"],
#invite-friends-form .form-item.form-details input[type="text"],
#invite-friends-form .form-item.form-where input[type="text"]{
	width: 360px;
	margin-right: 0;
}
#invite-friends-form .form-submit{
	padding-top: 20px;
}
body .ui-widget-content .form-submit input[type="button"]{
	background: #35332f;
	font: bold 12px Arial;
	color: #96c12b;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
	width: 139px;
	height: 30px;
	border: 1px solid #949391;
	-moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Google Chrome */
    -khtml-border-radius: 3px; /* KHTML */
    -o-border-radius: 3px; /* Opera */
    -ms-border-radius: 3px; /* IE8 */
    -icab-border-radius: 3px; /* Icab */
    border-radius: 3px; /* CSS3 */
}
#top-event-list .invite-friend a{
	font: bold 12px/30px Arial;
	color: #96c12b;
	background: #FFF;
	display: inline-block;
	height: 30px;
	text-decoration: none;
	padding: 0 30px;
	border: 1px solid #90908e;
	-moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Google Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    -o-border-radius: 5px; /* Opera */
    -ms-border-radius: 5px; /* IE8 */
    -icab-border-radius: 5px; /* Icab */
    border-radius: 5px; /* CSS3 */
}
a.already-accepted.add-event-link{
	font: bold 12px/30px Arial !important;
    width: 139px !important;
    margin-top: 0px;
	color: #96c12b !important;
	background: #FFF !important;
	display: inline-block;
	height: 30px;
	text-decoration: none;
	border: 1px solid #90908e !important;
	-moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Google Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    -o-border-radius: 5px; /* Opera */
    -ms-border-radius: 5px; /* IE8 */
    -icab-border-radius: 5px; /* Icab */
    border-radius: 5px; /* CSS3 */
}
a.already-accepted.add-user-link{
	font: bold 12px/30px Arial !important;
    width: 139px !important;
    margin-top: 0px;
	color: #96c12b !important;
	background: #FFF !important;
	display: inline-block;
	height: 30px;
	text-decoration: none;
	border: 1px solid #90908e !important;
	-moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Google Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    -o-border-radius: 5px; /* Opera */
    -ms-border-radius: 5px; /* IE8 */
    -icab-border-radius: 5px; /* Icab */
    border-radius: 5px; /* CSS3 */
}
.public-event-contacts a {
    color: #858586;
    text-decoration: none;
}
.facebook-log-in a {
    cursor: default;
}
.facebook-log-in.active a {
    background: #3b5997 !important;
    cursor: pointer !important;
}

#profile_info .first-column .profile-name {
    padding-top: 0px !important;
}
#profile_info {
    margin-bottom: -55px !important;
}

#profile_info .first-column.private {
    width: 200px !important;
}
.location-calendar-top-banner ul li {
    float: left;
    width: 830px;
    height: 350px;
}
.public-actions div.add-to-calendar{ float: right; }
.public-actions div.add-to-calendar  a{
  background: #35332f;
  font: bold 12px/30px Arial;
  color: #96c12b;
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  width: 139px;
  height: 30px;
  border: 1px solid #949391;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -icab-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
}

span.comment-delete-button{
  float: right;  
  visibility: hidden;
  background: url(../images/delete.png) left top no-repeat;
  width:16px;
  height: 16px;
}
span.comment-delete-button a{
  font-size: 200%;  
  text-decoration: none;
  color:red;
}
.event-contacts a {
    text-decoration: none;
    color: #858586;
}

#private-event-info-block .going-status-button a.remove-event-link{
    width: 133px !important;
    height: 34px !important;
    display: block !important;
    text-decoration: none !important;
    background: url(../images/going-not-going.png) 0 0 no-repeat !important;
    font-size: 12px !important;
    line-height: 34px !important;
    color: #2b2b2b !important;
    padding-left: 10px !important; 
    padding-right: 0px !important;
    border: 0px;
    float: none;
}
#private-event-info-block .going-status-button a.add-event-link{
    float: none;
    height: 30px !important;
    padding-top: 8px;
    padding-bottom: 8px;
}
#private-event-description {
    margin-top: 20px;
}
.event-people-block .going-block .person-row .person-name a, .event-people-block .invited-block .person-row .person-name a{
  color: #2b2b2b;
  text-decoration: none;
}

#main-slider div.slider-text {
  right: 190px !important;
  bottom: 25px !important;
}

div.footer-left-block a{
  color: #808285;
  font: italic 11px Arial;
  text-decoration: none;
}

div.footer-left-block img{
  vertical-align: middle;
}

#main-slider{
  height: 300px !important;
}

#main-slider ul li{
  height: 300px !important;
}

body.not-front #middle{
  padding-top: 70px;
}

.month-view td:not(.empty){
  background-color: #FFFFFF;
}

.block .calendar-calendar .month-view table tr td .view-data-node-title a{
  color: #f54e1f; 
}
.block .calendar-calendar .month-view table tr td .inner .hover-wrapper {
  background: url(../images/transparency.png) left top;
}
  
div.footer-right-block ul.menu li a{
  font-size: 12px;
}

div.footer-right-block{
  font-size: 12px;
  min-width: 390px;
}

#last-parties-photos .item-list .item .party-n-d-l a.party-link{
  color: #f54e1f;
}

.activity-stream-list .stream-item .stream-item-content .activity_status a{
  color: #f54e1f;
  text-decoration: none;  
}
.activity-stream-list .stream-item .stream-item-content .activity_status a:hover{
  text-decoration: underline;  
}

.activity-stream-list .stream-item:hover span.comment-delete-button {
  visibility: visible;
}

.block .calendar-calendar .month-view table tr td.empty:hover .inner .hover-wrapper{
  display: none !important;
}


#parties-photos-block .item{
  position: relative;
}

#parties-photos-block .item .overlay-info{
  display: none;
}

#parties-photos-block .party-title {
  text-decoration: none;
  font: 12px Arial;
  color: #767676;
}