form .form-item input.error{
  border-color: red;
}
/*
form .form-item input.error::-webkit-input-placeholder {
   color: red;
}

form .form-item input.error:-moz-placeholder { /
   color: red;  
}

form .form-item input.error::-moz-placeholder {  
   color: red;  
}

form .form-item input.error:-ms-input-placeholder {  
   color: red;  
}

form .form-item textarea.error{
  border-color: red;
}

form .form-item textarea.error::-webkit-input-placeholder {
   color: red;
}

form .form-item textarea.error:-moz-placeholder { 
   color: red;  
}

form .form-item textarea.error::-moz-placeholder {  
   color: red;  
}

form .form-item textarea.error:-ms-input-placeholder {  
   color: red;  
}
*/