.public-event-coupon-print, .buy-tickets-wrapper, .public-event-ticket, .public-event-top-banner, .remove-event-link, .going-status-button, .event-people-block, .event-comment-box, aside, header, footer{
  display:none !important;
}

#middle {
  background: none;
  padding-top: 10px !important;
}

.public-event-coupon{
 
  padding:15px !important;
  border: 2px solid black !important;
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  background-color: #FFF !important;
}

.ticket-type {
  display: block;
  font-weight: bold;
}

.print-coupon-user-text {
  display: block !important;
  margin-top:15px;
}

.public-event-date-time {
  color: #2b2b2b !important;
}



