* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	height: 100%;
}
a {
	color: #96c12b;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#photo-overlay{
	background: url(../images/transparency.png) left top;
}
#wrapper {
	width: 100%;
	min-width: 1280px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
#photo-box{
	z-index: 2200;
	position: fixed;
	left:0; top:0;
	background: #FFF;
	width: 1130px;
}
#photo-box #photo-wrapper{
	float: left;
	position: relative;
}
#photo-box #photo-wrapper a{
	background: url(../images/photo-popup.png) 0 0 no-repeat;
	width: 23px;
	height: 40px;
	text-decoration: none;
	font-size: 0;
	text-indent: -999px;
	cursor: pointer;
	display: block;
	position: absolute;
	top: 80px;
}
#photo-box #photo-wrapper a#prev-photo{
	left: 20px;
}
#photo-box #photo-wrapper a#prev-photo:hover{
	background-position: 0 -40px;
}
#photo-box #photo-wrapper a#next-photo:hover{
	background-position: -23px -40px;
}
#photo-box #photo-wrapper a#next-photo{
	right: 20px;
	background-position: -23px 0;
}
#photo-box #comment-wrapper{
	width: 280px;
	float: right;
	padding: 25px 25px 0;
}
#photo-box #comment-wrapper table{
	
}
#photo-box #comment-wrapper table tr td{
	padding: 5px 5px 10px;
	font-size: 12px;
	color: #000000;
}
#photo-box #comment-wrapper table tr.row-last td{
	vertical-align: top;
}
#photo-box #comment-wrapper table tr td.col-3{vertical-align: bottom; font-size: 10px; color: #a2a2a3; white-space: nowrap; text-align: right; padding-bottom: 0;}
#photo-box #photo-wrapper img{
	max-width: 800px;
	display: block;
}
#close-box{
	position: absolute;
	right: 20px;
	top: 10px;
}
#close-box a{
	display: block;
	background: url(../images/close-btn.jpg) 0 0 no-repeat;
	width: 16px;
	height: 16px;
	text-decoration: none;
	font-size: 0;
	text-indent: -999px;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 46px;
	background: #35332f;
	border-bottom: 1px solid #484644;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1001;
}
#header #logo{
	float: left;
	margin: 12px 50px 0 8px;
}
nav.main_menu{
	float: left;
	margin: 1px 0 0 0;
}
nav.main_menu > ul.menu > li{
	float: left;
	list-style: none;
	margin: 0 20px 0 0;
	padding: 0;
}
#header .container{
	width: 1280px;
	margin: 0 auto;
}
nav.main_menu > ul.menu > li > a{
	text-decoration: none;
	text-transform: uppercase;
	font: 14px/14px Arial;
	color: #fcfafa;
	float: left;
	display: inline-block;
	margin-top: 14px;
}
nav.main_menu > ul.menu > li.create_event > a{
	color: #96c12b;
}
#main-slider{
	width: 1280px;
	height: 417px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
	position: relative;
	z-index: 5;
	overflow: hidden;
}
#main-slider ul li{
	margin: 0;
	padding: 0;
	width: 1280px;
	height: 417px;
	list-style: none;
	float: left;
	position: relative;
}
span.counter{
	background: #f34921;
	font: 14px/23px Arial;
	color: #FFF;
	display: block;
	height: 23px;
	width: 24px;
	float: right;
	border: 1px solid #000;
	text-align: center;
	-moz-border-radius: 50%; /* Firefox */
    -webkit-border-radius: 50%; /* Safari, Google Chrome */
    -khtml-border-radius: 50%; /* KHTML */
    -o-border-radius: 50%; /* Opera */
    -ms-border-radius: 50%; /* IE8 */
    -icab-border-radius: 50%; /* Icab */
    border-radius: 50%; /* CSS3 */
	margin-left: 1px;
}
div.clear-fix{
	width: 100%;
	clear: both;
}
#search-form input[type="text"]{
	border: 1px solid #7c7b78;
	background: #FFF;
	width: 146px;
	height: 19px;
	outline: none;
	font: 10px/20px Arial;
	color: #858484;
	padding: 0 7px;
	-moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Google Chrome */
    -khtml-border-radius: 3px; /* KHTML */
    -o-border-radius: 3px; /* Opera */
    -ms-border-radius: 3px; /* IE8 */
    -icab-border-radius: 3px; /* Icab */
    border-radius: 3px; /* CSS3 */
}
#search-form{
	float: right;
	margin: 11px 55px 0 0;
}
#auth-block{
	float: right;
	margin: 0 14px 0 0;
}
#auth-block #login{
	text-decoration: none;
	text-transform: uppercase;
	font: 14px Arial;
	color: #96c12b;
	margin-top: 14px;
	display: inline-block;
}
/* Middle
-----------------------------------------------------------------------------*/
#spacer{
	height: 78px;
	width: 100%
}
#middle {
	background: none repeat scroll 0 0 #F6F8F8;
    height: 1%;
    margin: 0 auto;
    padding: 0 0 61px;
    position: relative;
    width: 1130px;
}
body.not-front #middle{
	padding-top: 94px;
}
#middle:after {
	content: '';
	clear: both;
	display: table;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 35px 270px 0 85px;
}
body.not-front #content{
	padding: 0 270px 0 25px;
}
body.front #content{
	padding-right: 0;
}
div.e-inner-wrapper{
	display: inline-block;
	position: relative;
}
div.e-inner-wrapper img{
	display: block;
}
div.e-inner-wrapper .overlay-info{
	display: none;
}
div.event_title{
	font: 18px Arial;
	color: #95c02a;
	margin-bottom: 15px;
}
div.event_gratuity{
	font: 14px Arial;
	color: #fffcfd;
	margin-bottom: 15px;
}
div.event_info{
	font: 12px Arial;
	color: #aaa7a8;
}
#parties-photos-block .item a{
	position: relative;
	display: block;
}
#parties-photos-block .item a img{
	display: block;
}
#parties-photos-block .item a .overlay-info{
	display: none;
}
div.e-inner-wrapper:hover .overlay-info,
#parties-photos-block .item:hover .overlay-info{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	background: url(../images/transparency.png) left top;
	width: 100%;
	height: 100%;
}
div.footer-right-block{
	float: right;
	min-width: 440px;
	font: 14px Arial;
	color: #5e5d5d;
}
div.footer-right-block ul.menu li{
	float: left;
	margin: 0 5px 0 0;
	padding: 0 7px 0 0;
	list-style: none;
	background: url(../images/divider.png) right center no-repeat;
}
div.footer-right-block ul.menu li a{
	font: 14px Arial;
	color: #5e5d5d;
	text-decoration: none;
	text-transform: lowercase;
}
div.footer-right-block ul.menu li a:hover{
	text-decoration: underline;
}
.events-list-on-main table tr td{
	vertical-align: top;
	padding-right: 25px;
	padding-bottom: 29px;
}
div.footer-left-block{
	font: italic 11px Arial;
	color: #808285;
	float: left;
}
/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: left;
	margin-right: -3px;
	width: 220px;
	margin-left: -220px;
	position: relative;
}

body.front #sideRight{
	display: none;
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	margin: -61px auto 0;
	width: 1130px;
	height: 61px;
	position: relative;
}
body .ui-widget-overlay{
	background: url(../images/transparency.png) left top;
	opacity: 1;
	z-index: 1001;
}
body .ui-widget-content{
	z-index: 1002;
	border: none;
	border-radius: 0;
	background: #FFF;
	padding: 0;
}
body .ui-widget-content .ui-widget-header{
	padding: 0;
	margin: 0;
	border: none;
	background: #96c12b;
	border-radius: 0;
	font: 14px Arial;
	text-transform: uppercase;
	color: #010101;
	padding: 10px 18px;
	margin-bottom: 25px;
}
body .ui-widget-content input[type="text"],
body .ui-widget-content input[type="password"],
.jq-selectbox.jqselect div.jq-selectbox__select{
	width: 140px;
	height: 25px;
	border: 1px solid #a6a6a6;
	-moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Google Chrome */
    -khtml-border-radius: 3px; /* KHTML */
    -o-border-radius: 3px; /* Opera */
    -ms-border-radius: 3px; /* IE8 */
    -icab-border-radius: 3px; /* Icab */
    border-radius: 3px; /* CSS3 */
	margin-right: 12px;
	float: left;
}
#photo-box #comment-wrapper input[type="text"]{
	padding: 0 35px 0 5px;
	width: 160px;
	height: 29px;
	font: 11px/25px Arial;
	color: #858586;
	border: 1px solid #a6a6a6;
	-moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Google Chrome */
    -khtml-border-radius: 3px; /* KHTML */
    -o-border-radius: 3px; /* Opera */
    -ms-border-radius: 3px; /* IE8 */
    -icab-border-radius: 3px; /* Icab */
    border-radius: 3px; /* CSS3 */
	margin-right: 12px;
	float: left;
	background: #FFF url(../images/prof-photo.png) 171px center no-repeat;
}
#photo-box #comment-wrapper  #comment-form{
	background: #f6f8f8;
}
#photo-box #comment-wrapper  #owner-block{
	display: inline-block;
	width: 100%;
	clear: both;
}
#photo-box #comment-wrapper  #owner-block div.published{font-size: 12px; color: #96c12b; line-height: 12px; margin-bottom: 10px;}
#photo-box #comment-wrapper  #owner-block .owner-name a{color: #2b2b2b; text-decoration: none; line-height: 12px;}
#photo-box #comment-wrapper  #owner-block .owner-event a{color: #2b2b2b; font-weight: bold; text-decoration: none; line-height: 12px;}
#photo-box #comment-wrapper  #owner-block div.owner-thumbnail{
	float: left;
	margin-right: 10px;
	margin-left: 5px;
}
.jq-selectbox.jqselect div.jq-selectbox__select{
	width: 140px !important;
}
#field-image-upload-styler .jq-file__browse{
	
}
span.checkbox.error{
	border: 1px solid red;
}
.selectbox.jqselect div.select.selecterror{
	border-color: red;
}
div.post-box{
	margin-bottom: 25px;
}
div.post-box .post-box-title{
	font: 12px/16px Arial;
	color: #35332f;
}
div.post-box .post-box-title a{
	text-decoration: none;
}
div.post-box form input[type="text"]{
	background: url(../images/postbox.png) 0 0 no-repeat;
	width: 624px;
	height: 29px;
	border: none;
	outline: none;
	padding: 8px 10px 0;
}
.selectbox.jqselect,
.jq-selectbox.jqselect{
	float: left;
	width: 153px;
}
.jq-selectbox.jqselect div.jq-selectbox__select-text{
	float: left;
	width: 50px;
	padding: 0 5px;
	font: 11px/25px Arial;
	color: #858586;
}
.jq-selectbox.jqselect .jq-selectbox__trigger{
	width: 25px;
	height: 25px;
	background: #e9e7e7 url(../images/arrow.jpg) center center no-repeat;
	float: right;
	cursor: pointer;
}
.jq-selectbox.jqselect .jq-selectbox__dropdown{
	top: 27px !important;
	background: #FFF;
	padding: 5px;
	border: 1px solid #a6a6a6;
	width: 130px;
}
.jq-selectbox.jqselect .jq-selectbox__dropdown ul li{
	cursor: pointer;
	font: 11px Arial;
	color: #858586;
	margin-bottom: 4px;
}
body .ui-widget-content .field-e-mail input[type="text"]{
	width: 294px;
}
body .ui-widget-content .form-item{
	margin-bottom: 10px;
	
	clear: both;
	display: inline-block;
}
body .ui-widget-content .form-item label{
	font: bold 12px/26px Arial;
	color: #2b2b2b;
	width: 60px;
	text-align: right;
	display: inline-block;
	margin-right: 20px;
	float: left;
}
body .ui-widget-content .form-item.profile-links{
	padding-left: 85px;
}
body .ui-widget-content .form-item.profile-links a,
#field-image-upload-styler .jq-file__browse{
	padding-left: 28px;
	display: inline-block;
	font: bold 11px/25px Arial;
	color: #2b2a2a;
	text-decoration: none;
	height: 24px;
}
#field-image-upload-styler .jq-file__browse{
	color: #96c12b !important;
}
body .ui-widget-content .form-item.profile-links a:hover,
#field-image-upload-styler .jq-file__browse:hover{
	color: #96c12b;
}
body .ui-widget-content .form-item.profile-links #add-prof-photo,
#field-image-upload-styler .jq-file__browse{
	background: url(../images/prof-photo.png) left center no-repeat;
	margin-right: 25px;
	cursor: pointer;
}
#field-image-upload-styler input:hover,
#field-more-image-upload-styler input:hover{
	cursor: pointer;	
}
#field-image-upload-styler,
#field-more-image-upload-styler{
	float: left;
}
#field-image-upload-styler .jq-file__name{
	font: 11px Arial;
	color: #96c12b;
	padding-left: 28px;
	float: none !important;
	white-space: normal !important;
}
body .ui-widget-content .form-item.profile-links #add-friends{
	background: url(../images/add-friend.png) left center no-repeat;
}
.events-list-on-main h2{
	font: bold 24px Arial;
	color: #3a3a39;
	margin-bottom: 20px;
}
div.pad-layer{
	padding: 15px 25px;
}
body .ui-widget-content .form-submit input[type="submit"]{
	background: #35332f;
	font: bold 12px Arial;
	color: #96c12b;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
	width: 139px;
	height: 30px;
	border: 1px solid #949391;
	-moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Google Chrome */
    -khtml-border-radius: 3px; /* KHTML */
    -o-border-radius: 3px; /* Opera */
    -ms-border-radius: 3px; /* IE8 */
    -icab-border-radius: 3px; /* Icab */
    border-radius: 3px; /* CSS3 */
}
div.clear-fix{
	width: 100%;
	clear: both;
}
#public-event-list div.add-to-calendar,
#public-event-list div.decline,
#top-event-list div.add-to-calendar{
	float: right;
}
#public-event-list{margin-bottom: 55px;}
#public-event-list table, #top-event-list table, #new-friends-list table{width: 100%;}
#profile-friends-list table{width: auto;}
#new-friends-list table tr td.col-1{
	width: 100px;
}
#new-friends-list table tr td.col-2{
	padding-left: 10px;
}
#profile-friends-list table tr td.col-2{
	width: 345px;
}
#public-event-list div.add-to-calendar{margin-bottom: 9px; }
#public-event-list div.add-to-calendar a,
#public-event-list div.decline a,
#top-event-list div.add-to-calendar a,
#new-friends-list div.decline a,
#new-friends-list div.accept a{
	background: #35332f;
	font: bold 12px/30px Arial;
	color: #96c12b;display: block;
	border: none;
	outline: none;
	cursor: pointer;

	width: 139px;
	height: 30px;
	border: 1px solid #949391;
	-moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Google Chrome */
    -khtml-border-radius: 3px; /* KHTML */
    -o-border-radius: 3px; /* Opera */
    -ms-border-radius: 3px; /* IE8 */
    -icab-border-radius: 3px; /* Icab */
    border-radius: 3px; /* CSS3 */
    text-decoration: none;
    text-align: center;
}
#top-event-list h2,
#profile-friends-list h2{
	font: 24px/24px Arial;
	color: #808285;
	margin-bottom: 25px;
}
#public-event-list div.decline a{font-weight: normal !important;}
body .ui-widget-content .form-submit label{
	font: 10px/10px Arial;
	color: #858586;
}
body .ui-widget-content .form-submit label a{
	color: #96c12b;
}
.jq-checkbox{
	display: inline-block;
	background: url(../images/check.jpg) 0 0 no-repeat;
	width: 14px;
	height: 13px;
	margin-right: 5px;
	float: left;
}
.jq-checkbox.error{
	background-position: 0 -26px;
}
.jq-checkbox.error.checked{
	background-position: 0 -39px;
}
.jq-checkbox{
	display: block;
	width: 14px;
	height: 13px;
}
.jq-checkbox.checked{
	background-position: 0 -13px;
}
div.public-event-coupon{
	background: #95c02a;
	-moz-border-radius: 15px; /* Firefox */
    -webkit-border-radius: 15px; /* Safari, Google Chrome */
    -khtml-border-radius: 15px; /* KHTML */
    -o-border-radius: 15px; /* Opera */
    -ms-border-radius: 15px; /* IE8 */
    -icab-border-radius: 15px; /* Icab */
    border-radius: 15px; /* CSS3 */
	padding: 17px 20px;
	margin-bottom: 16px;
}
.event-coupon{
	display: inline-block;
	width: 100%;
	clear: both;
}
div.public-event-coupon div.public-event-col{
	float: left;
}
div.public-event-coupon div.public-event-col.first-column,
#profile_info .first-column{
	width: 150px;
	margin-right: 20px;
}
div.public-event-coupon div.public-event-col.second-column{
	width: 170px;
	margin-right: 20px;
}
div.location-calendar-top-banner{margin-bottom: 16px;}
div.public-event-coupon div.public-event-col.second-column .public-event-date-time{
	font: 14px/16px Arial;
	color: #FFF;
	margin-bottom: 18px;
}
div.public-event-coupon div.public-event-col.second-column .public-event-address,
#profile_info div.second-column .public-event-address{
	font: 11px/16px Arial;
	color: #2b2b2b;
	margin-bottom: 4px;
}
div.public-event-coupon div.public-event-col.second-column .public-event-contacts,
#profile_info div.second-column .public-event-contacts{
	font: 11px/16px Arial;
	color: #858586;
}
div.public-event-coupon div.public-event-col.third-column{
	width: 420px;
}
div.public-event-coupon div.public-event-col.third-column .public-event-title{
	font: 18px/25px Arial;
	color: #010101;
	margin-bottom: 15px;
}
div.public-event-coupon div.public-event-col.third-column .public-event-description{
	font: 14px/16px Arial;
	color: #2b2b2b;
	margin-bottom: 14px;
}
div.public-event-coupon div.public-event-col.third-column .public-event-gratuity a.public-event-coupon-print{
	color: #FFF;
	font: 14px/16px 'Verdana';
	text-decoration: none;
	float: right;
	text-transform: lowercase;
}
div.going-status-button{
	width: 100%;
	clear: both;
	display: inline-block;
}
div.going-status-button a,
a.invite-friend,
div.follow-this-place a{
	float: right;
	background: #35332f;
	height: 30px;
	text-decoration: none;
	font: bold 12px/30px Arial;
	color: #96c12b;
	padding: 0 12px;
	border: 1px solid #90908e;
	-moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Google Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    -o-border-radius: 5px; /* Opera */
    -ms-border-radius: 5px; /* IE8 */
    -icab-border-radius: 5px; /* Icab */
    border-radius: 5px; /* CSS3 */
}
div.event-people-block{
	width: 180px;
	float: left;
}
div .event-comment-box{
	width: 620px;
	float: right;
}
.block-calendar{
	position: relative;
	margin-top: -45px;
}
div.public-event-coupon div.public-event-col.third-column .public-event-gratuity{
	font: bold 14px Arial;
	color: #f34921;
	text-transform: uppercase;
}
div.public-event-modify-link{
	display: inline-block;
	width: 100%;
	clear: both;
	padding: 12px 0 5px;
}
div.public-event-modify-link a{
	float: right;
	color: #f34921;
	margin-right: 5px;
}
div.public-event-coupon div.public-event-col.first-column .profile-info,
#profile_info .first-column .profile-info{
	width: 100%;
	clear: both;
	display: inline-block;
	margin-bottom: 25px;
}
div.public-event-coupon div.public-event-col.first-column .profile-thumbnail{
	float: left;
	margin-right: 8px;
}
div.public-event-coupon div.public-event-col.first-column .profile-info .profile-name,
#profile_info .first-column .profile-name{
	font: 12px/16px Arial;
	color: #393938;
	padding-top: 10px;
	margin-bottom: 4px;
}
div.public-event-coupon div.public-event-col.first-column .profile-info .profile-city,
#profile_info .first-column .profile-city{
	font: bold 12px Arial;
	color: #2b2b2b;
}
#photo-block{
	padding-bottom: 200px;
}
#photo-block .item-list .item{
	margin-bottom: 20px;
}
#photo-block .item-list{
	padding-top: 8px;
}
#photo-block .item-list .item img{
	display: block;
}
#photo-block > a{
	font-weight: bold;
	line-height: 12px;
}
#photo-block .more-link a{
	float: right;
	font-weight: bold;
	text-decoration: none;
	margin-right: 25px;
}
#photo-block .more-link a:hover{
	text-decoration:underline;
}
.activity-stream-list .stream-item .person-thumbnail{
	float: left;
}
.activity-stream-list .stream-item .stream-item-content{
	width: 565px;
	float: right;
}
.activity-stream-list .stream-item .stream-item-content .activity_status{
	color: #858586;
}
.activity-stream-list .stream-item .stream-item-content .person-comment{
	color: #040404;
	font-size: 12px;
	line-height: 16px;
}
.activity-stream-list .stream-item .stream-item-content .person-activity-time{
	float: right;
	font: 10px/10px Arial;
	color: #a2a2a3;
}
.activity-stream-list .stream-item .stream-item-content .added-new-photos,
.activity-stream-list .stream-item .stream-item-content .commented-photo{
	padding-top: 5px;
}
.activity-stream-list .stream-item .stream-item-content .commented-photo a{
	float: left;
	display: inline-block;
	margin-right: 10px;
}
.activity-stream-list .stream-item .stream-item-content .added-new-photos img{
	display: block;
}
.activity-stream-list .stream-item .stream-item-content .added-new-photos a{
	display: inline-block;
	margin-right: 6px;
}
.event-people-block .person-thumbnail{
	float: left;
	display: inline-block;
	margin-right: 8px;
}
.event-people-block .person-row{
	width: 100%;
	clear: both;
	display: inline-block;
	margin-bottom: 2px;
}
.event-people-block .going-block{
	margin-bottom: 15px;
}
.event-people-block .invite-friend{
	padding-top: 20px;
}
.event-people-block .invite-friend a,
span.already-invited{
	font: bold 12px/30px Arial;
	color: #96c12b;
	background: #FFF;
	display: inline-block;
	height: 30px;
	text-decoration: none;
	padding: 0 30px;
	border: 1px solid #90908e;
	-moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Google Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    -o-border-radius: 5px; /* Opera */
    -ms-border-radius: 5px; /* IE8 */
    -icab-border-radius: 5px; /* Icab */
    border-radius: 5px; /* CSS3 */
}
#top-event-list h2 a,
#profile-friends-list h2 a.find-friend-link{
	float: right;
	font: bold 12px/30px Arial;
	color: #35332f;
	background: #FFF;
	display: inline-block;
	height: 30px;
	text-decoration: none;
	padding: 0 30px;
	border: 1px solid #90908e;
	-moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Google Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    -o-border-radius: 5px; /* Opera */
    -ms-border-radius: 5px; /* IE8 */
    -icab-border-radius: 5px; /* Icab */
    border-radius: 5px; /* CSS3 */
    width: 80px;
    padding: 0 30px;
    position: relative;
    margin: -8px 48px 0 0;
}
a.invite-friend{color: #96c12b !important;}
span.already-invited{float: right;}
a.invite-friend,
span.already-invited{
	width: 140px !important;
	text-align: center;
	padding: 0 !important;
}
.event-people-block .going-block > a,
.event-people-block .invited-block > a{
	font: bold 11px Arial;
	color: #95c02a;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 6px;
}
.event-people-block .person-row .person-name{
	font: 10px/28px Arial;
	color: #2b2b2b;
}
.activity-stream-list .stream-item{
	width: 100%;
	display: inline-block;
	clear: both;
	margin-bottom: 8px;
}
#main-slider ul li .slider-text img{
	float: right;
	margin-left: 10px;
}
#main-slider ul li .slider-text{
	width: 220px;
	position: absolute;
	z-index: 500;
	right: 100px;
	bottom: 50px;
}
#main-slider ul li .slider-text .profile-name{
	font: 14px Arial;
	color: #FFF;
	margin-bottom: 5px;
	text-align: right;
}

#main-slider ul li .slider-text .profile-address{
	font: 10px Arial;
	color: #c8c6c6;
	margin-bottom: 5px;
	text-align: right;
}
#main-slider ul li .slider-text .profile-link{
	text-align: right;
	font-weight: bold;
}
#main-slider ul li .slider-text .profile-link a{
	text-decoration:none;
}
#main-slider .fixed-text{
	position:absolute;
	left: 20px;
	top: 20px;
	color: #FFF;
}
.date-nav .date-prev a,
.date-nav .date-next a{
	width: 8px;
	height: 7px;
	background: url(../images/prev-next-month.jpg) no-repeat;
	font-size: 0;
	text-indent: -999px;
	text-decoration: none;
	display: block;
	margin-top: 3px;
}
div.calendar-calendar{
	text-align: center;
	padding-bottom: 20px;
}
.date-nav .date-prev a{
	background-position: 0 0;
	margin-right: 13px;
}
.date-nav .date-next a{
	background-position: 0 -7px;
	margin-left: 13px;
}
.date-nav .date-prev{
	display: inline;
	float: left;
}
.date-heading{
	font: bold 14px/14px Arial;
	color: #2b2b2b;
	display: inline;
	float: left;
}
.date-nav .date-next{
	display: inline;
	float: left;
}
.date-nav{
	display: inline-block;
}
.calendar-calendar .month-view table{
	border-collapse: collapse;
	border-spacing: 0;
}
.calendar-calendar td.has-events:hover div.day,
.calendar-calendar td.has-events:hover div.day a{
	color: #FFF;
	
}
.block .calendar-calendar td.has-event-no-pic .view-data-node-title a{
	color: #000;
}
.block .calendar-calendar td.has-event-no-pic .event-time,
.block .calendar-calendar td.has-event-no-pic .event-location{
	color: #000;
	text-align: right;
	padding-right: 6px;
}
.block .calendar-calendar td.has-event-no-pic .event-location{font-weight: bold;}
#parties-photos-block{
	width: 195px;
}
.no-pic-wrapper{padding-top: 20px;}
#parties-photos-block .party-title{
	text-align: center;
}
#parties-photos-block .party-title a{
	text-decoration: none;
	font: 12px Arial;
	color: #767676;
}
#parties-photos-block .item{
	margin-bottom: 20px;
}
.calendar-calendar td .more-events{
	text-align: left;
	padding-left: 4px;
	position: relative;
	margin-top: -14px;
	z-index: 200;
}
.calendar-calendar td .more-events a{
	text-decoration: none;
	font-size: 10px;
	position: relative;
	margin-top: -2px;
}
.calendar-calendar td div.day a{
	text-decoration: none;
}
.calendar-calendar td div.day{
	font: 12px Arial;
	color: #b2b2b2;
	text-align: right;
	padding: 3px 4px 0 0;
	z-index: 200;
	position: relative;
}
.calendar-calendar .month-view table tbody{
	border: 1px solid #b1b0b0;
}
.block .calendar-calendar .month-view table tr td{
	width: 117px;
	height: 106px;
	border: 1px solid #d3d3d2;
	border-collapse: collapse;
	border-spacing: 0;
	vertical-align: top;
}
.block .calendar-calendar .month-view table tr td .inner:hover .hover-wrapper,
.block .calendar-calendar .month-view table tr td:hover .inner .hover-wrapper{
	display: block;
}    

.block .calendar-calendar .month-view table tr td .inner .hover-wrapper .view-data-node-title{
	padding-top: 30px;
}
.block .calendar-calendar .month-view table tr td .view-data-node-title{
	text-align: right;
	padding-right: 6px;
	margin-bottom: 2px;
}
.block .calendar-calendar .month-view table tr td .hover-wrapper .event-time{
	text-align: right;
	padding-right: 6px;
	font: 12px Arial;
	color: #dfdddd;
	margin-bottom: 2px;
}
.block .calendar-calendar .month-view table tr td .hover-wrapper .event-location{
	text-align: right;
	padding-right: 6px;
	font: bold 12px Arial;
	color: #FFF;
	margin-bottom: 2px;
}
.block .calendar-calendar .month-view table tr td .hover-wrapper a.add-event-link{
	background: url(../images/add-event.png) 0 0 no-repeat;
	width: 12px;
	height: 12px;
	display: block;
	font-size: 0;
	text-indent: -999px;
	text-decoration: none;
	margin-left: 4px;
	position: absolute;
	left: 4px;
	bottom: 9px;
}
.block .calendar-calendar .month-view table tr td .view-data-node-title a{
	text-decoration: none;
}
.block .calendar-calendar .month-view table tr td .view-data-node-title a:hover{
	text-decoration: underline;
}
.block .calendar-calendar .month-view table tr td .inner{
	position: relative;
	height: 100%;
}
.block .calendar-calendar .month-view table tr td .inner .hover-wrapper{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #676767;
	z-index: 100;
	display: none;
}
.block .calendar-calendar .month-view table tr td.empty{
	background: #e5e5e5;
}
.ui-dialog form .form-item.placeholder{ position:relative }
.ui-dialog form .form-item.placeholder label  { position:absolute; top:0; left:5px; text-align: left; line-height: 25px;font: 11px/25px Arial;color: #858586;}
.ui-dialog form .form-item.placeholder input[type="text"],
.ui-dialog form .form-item.placeholder input[type="password"]{
	padding: 0 5px;
	width: 130px;
	font: 11px/25px Arial;
	color: #858586;
}

#login-form .form-item.login-links a#forgot-pass{
	font: 11px Arial;
	color: #96c12b;
	text-decoration: none;
}
#login-form .form-submit{
	width: 100%;
	clear: both;
	display: inline-block;
}
#login-form .form-item.login-links a#forgot-pass:hover{
	text-decoration: underline;
}
#login-form .form-item.login-links{
	float: left;
}
#login-form .form-item.login-links label{
	width: 150px;
}
#login-form div.form-type-checkbox{
	float: right;
	clear: none;
	padding-top: 4px;
	width: 141px;
}
#login-form div.form-type-checkbox label{
	line-height: 14px;
}
body #login-form.ui-widget-content .form-submit input[type="submit"]{
	float: left;
}
body #login-form.ui-widget-content .form-submit a#signup{
	background: none;
	font: bold 12px/30px Arial;
	color: #35332f;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
	width: 139px;
	height: 30px;
	border: 1px solid #bebebe;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-icab-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	text-decoration: none;
}
body #login-form.ui-widget-content .form-item.facebook-log-in{
	padding-top: 15px;
}
body #login-form form{
	width: 322px;
margin: 0 auto;
}
body #login-form.ui-widget-content .form-item.facebook-log-in a{
	background: #c1c0c0;
	font: bold 12px/30px Arial;
	color: #FFF;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
	width: 320px;
	height: 30px;
	border: 1px solid #aab0bf;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-icab-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
}
span.submit-or{
	font: 12px/30px Arial;
	color: #35332f;
	padding-left: 15px;
}
div.activity-stream-list.left{
	width: 405px;
	float: left;
}
.activity-stream-list.left .stream-item .stream-item-content {
	width: 350px;
}
#block-calendar-1{
	margin-bottom: 55px;
}
span.file{
	
}
#auth-block .accaunt-thumbnail{
	float: right;
	margin-left: 4px;
	padding-top: 7px;
}
#auth-block .accaunt-name{
	float: right;
	padding-top: 7px;
	position: relative;
}
#auth-block .accaunt-name a{
	text-decoration: none;
	font: 11px/29px Arial;
	color: #96c12b;
}
#auth-block .accaunt-name a:hover,
#auth-block .accaunt-name #accaunt-menu ul li a:hover{
	text-decoration: underline;
}
#accaunt-menu{
	display: none;
	position: absolute;
	right: 0;
	top: 35px;
	background: url(../images/profile-dropdown.png) 0 0 no-repeat;
	width: 99px;
	height: 53px;
	padding: 16px 0 0 15px;
}
#auth-block{
	position: relative;
	
}
#auth-block .accaunt-name #accaunt-menu ul li{
	margin: 0 0 4px 0;
	padding: 0;
	list-style: none;
}
#auth-block .accaunt-name #accaunt-menu ul li a{
	text-decoration: none;
	color: #000;
	font: 14px Arial;
}
#last-parties-photos{
	float: right;
	width: 365px;
}
#last-parties-photos h2{
	font: 18px/18px Arial;
	color: #2b2a2a;
	margin-bottom: 15px;
}
#last-parties-photos .item-list .item{
	margin-bottom: 20px;
}
#last-parties-photos .item-list .item div.party-thumbnail{
	float: left;
	margin-right: 5px;
}
#last-parties-photos .item-list .item div.parties-photos-block{
	width: 100%;
	clear: both;
}
#last-parties-photos .item-list .item div.parties-photos-block a{
	margin-right: 10px;
}
#last-parties-photos .item-list .item div.parties-photos-block a.last{
	margin-right: 0;
}
#last-parties-photos .item-list .item .party-n-d-l{
	padding-top: 20px;
	color: #aaabad;
	margin-top: 5px;
}
#last-parties-photos .item-list .item .party-n-d-l a.party-link{
	font: bold 12px Arial;
	color: #313232;
	text-decoration: none;
}
#last-parties-photos .item-list .item .party-n-d-l a.party-link:hover,
#last-parties-photos .item-list .item .party-n-d-l .party-photos-link a:hover,
div#private-account-info div.account-info-name a:hover{
	text-decoration: underline;
}
#last-parties-photos .item-list .item .party-n-d-l .party-photos-link a{
	text-decoration: none;
}
div#private-account-info{
	width: 100%;
	clear: both;
	display: inline-block;
	margin-bottom: 12px;
}
div#private-account-info .account-info-thumb,
div#private-event-profile-info .account-info-thumb{float: left; margin-right: 12px;}
div#private-account-info div.account-info-name a,
div#private-event-profile-info div.account-info-name a{font: 12px Arial; color: #393938; text-decoration: none;}
div#private-account-info div.account-info-city,
div#private-event-profile-info div.account-info-city{font: bold 12px Arial; color: #393938;}
div#private-event-profile-info .event-date{
	width: 100%;
	clear: both;
	font-size: 14px;
	color: #95c02a;
	padding-top: 20px;
}
div#private-event-profile-info .event-time{
	font-size: 14px;
	color: #95c02a;
	margin-bottom: 15px;
}
div#private-event-profile-info .event-adress{font-size: 11px; color: #2b2b2b;}
div#private-event-profile-info .event-contacts{font-size: 11px; color: #858586;}
#private-event-info-block .event-title{margin-bottom: 15px;}
#private-event-info-block .event-description{font-size: 14px; color: #2b2b2b; margin-bottom: 20px;}
#private-event-info-block .going-not-going a{
width: 133px;
height: 34px;
display: block;
text-decoration: none;
background: url(../images/going-not-going.png) 0 0 no-repeat;
font-size: 12px;
line-height: 34px;
color: #2b2b2b;
padding-left: 10px;
}
#private-event-info-block .event-title a{
	font-size: 18px;
	font-weight: bold;
	color: #010101;
	text-decoration: none;
}
div#private-event-profile-info{
	width: 180px;
	float: left;
}
#private-event-info-block{
	float: right;
	width: 620px;
}
#private-event-description{
	width: 100%;
	clear: both;
	display: inline-block;
	padding-bottom: 35px;
}
div.fixed-slide-text{position: absolute; left: 175px; top: 65px; z-index: 900;font: 24px Arial; color: #FFF; text-shadow: 0px 1px 5px rgba(0,0,0,0.75);}
div.fixed-slide-text h2{font: 30px Arial; color: #d6d3d3; margin-bottom: 20px; text-shadow: 0px 1px 5px rgba(0,0,0,0.75);}
#profile_info .first-column,
#profile_info .second-column{float: left;}
#profile_info{width: 100%; clear: both; display: inline-block;}
#profile_info .first-column .profile-thumbnail{float: left; margin-right: 8px;}
div.i-like-this-place,
div.follow-this-place{float: right;}
div.i-like-this-place a{background: url(../images/ilike.png) 0 0 no-repeat;text-decoration: none; width: 132px;
height: 34px; font: 12px/34px Arial;color: #2b2b2b; display: block; padding-left: 11px;}
#field-more-image-upload-styler .jq-file__browse{background: url(../images/add-more-photos.png) 0 center no-repeat;margin-right: 25px;
cursor: pointer; color: #96c12b !important; padding-left: 28px;
display: inline-block;
font-size: 0;
text-indent: -999px;
text-decoration: none;
height: 24px;
width: 122px;}
#field-more-image-upload-styler .jq-file__browse{
	clear: both !important; 
}
#field-more-image-upload-styler .jq-file__name{
	width: 100%;
	display: inline-block;
	clear: both;
}
#field-more-image-upload-styler .jq-file__name img{max-width: 145px;}
div.form-file-upload{float: left;}
div.form-file-upload .uploaded-item > div > a{color: #f34921 !important; float: right;}
div.form-file-upload .uploaded-item{width: 145px; margin-top: 4px; clear: both;}
div.form-file-upload .uploaded-item img{max-width: 145px;}
body .ui-widget-content .form-item.profile-links.profile-pro .uploaded-item{width: 58px; position: absolute; left: -2px; top: 0;}
body .ui-widget-content .form-item.profile-links.profile-pro{position: relative; min-height: 65px;}
.jScrollPaneContainer {
position: relative;
overflow: hidden;
z-index: 1;
}
#invite-form div.person-item{
	width: 100%;
	display: inline-block;
	clear: both;
	margin-bottom: 10px;
}
#invite-form div.person-item .person-thumbnail{
	float: left;
	margin-right: 20px;
}
#invite-form div.person-item  .person-name{
	float: left;
	padding-top: 22px;
}
.scroll-pane table tr td.col-1{
	padding-right: 20px;
}
#invite-form div.person-item  .person-name a,
.scroll-pane table tr td.col-2 a{
	font: bold 12px Arial;
	color: #2b2a2a;
	text-decoration: none;
	
}
.scroll-pane table{
	width: 100%;
}
.scroll-pane table tr td{
	vertical-align: middle;
	padding-bottom: 10px;
}
#invite-form div.person-item  .person-name a:hover{color: #96c12b;}
span.already-invited,
a.invite-friend{
	
}
.jScrollPaneContainer{
	background: #ebeaea;
	padding: 10px;
	margin-bottom: 10px;
}
#invite-form .form-item.form-title input[type="text"],
#invite-form .form-item.form-details input[type="text"],
#invite-form .form-item.form-where input[type="text"]{
	width: 360px;
	margin-right: 0;
}
.form-item.search-for-friends input[type="text"]{
	width: 445px;
}
.scroll-pane {
width: 445px;
height: 255px;
overflow: auto;
}

.mCustomScrollBox>.mCSB_scrollTools {
width: 9px;
height: 100%;
top: 0;
right: 0;
z-index: 2000;
}
.mCSB_scrollTools .mCSB_draggerContainer {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
height: auto;
width: 7px;
border: 1px solid #afafaf;
}
.mCSB_scrollTools .mCSB_dragger {
cursor: pointer;
width: 100%;
background: #676668;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
height: 70px;
}
.mCSB_container {
width: auto;
margin-right: 30px;
}
#invite-form .form-submit{
	padding-top: 20px;
}
span.fb-user{
	display: block;
	font: 12px Arial;
	color: #8c8c8d;
	clear: both;
}
div.search-for-friends.loading input[type="text"]{
	background: url(../images/throbber.svg) 440px center no-repeat;
	padding-right: 25px;
	width: 435px;
}
#public-event-list table tr td.col-1,
#top-event-list table tr td.col-1{
	width: 160px;
}
#public-event-list table tr td.col-3 a{margin-right: 33px;}
#top-event-list table tr td.col-3 a{margin-right: 49px;}
#public-event-list table tr.last td{
	padding-bottom: 0;
}
#public-event-list table tr td,
#top-event-list table tr td{padding-bottom: 18px;}
#public-event-list table tr td.col-2 a,
#top-event-list table tr td.col-2 a{text-decoration: none;}
#public-event-list table tr td.col-2 a:hover,
#top-event-list table tr td.col-2 a:hover,
#new-friends-list tr td.col-2 a.person-name:hover,
#profile-friends-list table tr td.col-2 a:hover,
#profile-friends-list table tr td.col-4 a:hover{
	text-decoration: underline;
}
#public-event-list table tr td.col-2,
#top-event-list table tr td.col-2{
	font: 14px/16px 'Arial';
	color: #6d6e71;
	padding-left: 27px;
	vertical-align: middle;
}
#public-event-list table tr td.col-2 a.event-title{font-weight: bold; color: #f34921;}
div.event-gratuity{
	font-weight: bold;
	color: #000000;
}
#public-event-list, #new-friends-list{background:#fdfefe; padding: 25px 15px;}

#new-friends-list div.decline, #new-friends-list div.accept {
	float: right;
}
#new-friends-list div.decline{margin-left: 38px; margin-right: 36px;}
#new-friends-list div.decline a{
	font-weight: normal;
}
#new-friends-list tr td.col-2{
	font: 14px Arial;
	color: #2b2a2a;
}
#new-friends-list{margin-bottom: 35px;}
#new-friends-list tr td{padding-bottom: 5px;}
#new-friends-list tr.last td{padding-bottom: 0px;}
#new-friends-list tr td.col-2 a.person-name{
	font: bold 14px Arial;
	color: #f34921;
	text-decoration: none;
}
#profile-friends-list table tr td{vertical-align: middle;}
#profile-friends-list table tr td a{
	display: inline-block;
}
#profile-friends-list h2 a{ font: 14px Arial; color: #808285; text-decoration: none; margin-left: 3px;}
#profile-friends-list table tr td{
	padding-bottom: 20px;
}
#profile-friends-list table tr td.col-1,
#profile-friends-list table tr td.col-3{width: 100px;}
#profile-friends-list table tr td.col-2,
#profile-friends-list table tr td.col-4{padding-left: 10px;}
#profile-friends-list table tr td.col-2 a,
#profile-friends-list table tr td.col-4 a{font: bold 12px Arial; color: #2b2a2a; text-decoration: none;}
#profile-friends-list  div.col-friends{
	font: 12px Arial;
	color: #8c8c8d;
}
#profile-friends-list{padding-left: 5px;}
#comment-form #add-comment{
	display: inline-block;
	width: 100%;
	clear: both;
}
#comment-form #add-comment .profile-thumbnail{
	float: left;
	margin-right: 11px;
    padding-left: 8px;
}
#comment-table-wrapper{
	max-height: 440px;
	overflow: auto;
	margin-top: 30px;
}